#background {
  width: 100%;
  height: calc(100vh - 70px);
  top: 70px;
  background: url('/src/assets/sea2-court.jpg') no-repeat center center;
  background-size: cover;
}

.link {
  cursor: pointer;
  color: $third-color;
  &:hover {
    text-decoration: underline;
  }
}

#login-register {
  width: 400px;
  height: 440px;
  background: rgba(255,255,255,0.5) ;
  border: 2px solid rgba(163, 163, 163, 0.5);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  padding: 0;
  overflow: hidden;
  transition: ease 0.2s;
}

.login {
  a {
    text-decoration: none;
    color: $third-color;
  }
}

.wrapper {
  position: relative;
  left: 210px;
  transition: 0.18s ease;
  .v-btn{
  background-color: $primary-color;
  color:white
  }
  .v-text-field {
    width: 335px;
  }
  .title {
    font-size: 20px;
    font-weight: 500;
    color: #333;
  }
  .forget {
    color: #333;
    font-size: 12px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .signup {
    display: flex;
    align-items: center;
    font-size: 14px;
    a {
      font-size: 14px;
      margin-left: 8px;
      line-height: 12px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
}